
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url('https://fonts.googleapis.com/css2?family=Alata');


html {
  /*-- Main font sizes --*/
  --title-size:      50px;
  --body-size:       1.06rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #143860;
  --header-color:    rgba(20, 56, 96, 0.8);
  --body-color:      rgba(0, 0, 0, 0.8);
  --aside-color:     rgb(20, 56, 96);
  --fig-cap-color:   rgb(20, 56, 96);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    "Oswald", bold;
  --mono-font:       monospace;
  --body-font:       inherit;
  --navbar-font:     "Oswald", monospace;  /* websites + blogs only */
}


d-article div.sourceCode code, 
d-article pre code {
	font-size: 0.9rem;
	background-color:transparent;
}

d-article code {
  font-family: "DM Mono", monospace;
  color: #383838;
  background: rgba(20, 56, 96, 0.1);
  font-weight: 400;
  font-size: 1em;
}

d-article code span.st {
	font-size: 1rem;
  color: #af0069;
}

d-article code span.co{
	font-size: 1rem;
	color: #383838;
}

d-article code span.kw{
	font-size: 1rem;
	color: #143860;
}

d-article code span.dt{
	font-size: 1rem;
	color: #f58634;
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   rgb(20, 56, 96);
  --body-size:       0.8rem;
  --body-color:      rgb(20, 56, 96);
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgb(20, 56, 96);
  --text-size:       0.8em;
  --text-color:      rgb(20, 56, 96);
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       22px;
  --text-color:       rgba(20, 56, 96, 1);
  --text-size:        20px;
  --hover-color:      rgba(20, 56, 96, 0.8);
  --bkgd-color:       #FFFFFF;
}
.distill-site-header  .logo img {
    max-height: 70px;
    width: auto;
    margin-bottom: -3px;
}

.distill-site-footer {
  --text-color:       rgba(255, 255, 255, 0.8);
  --text-size:        15px;
  --hover-color:      white;
  --bkgd-color:       #143860;
  height: 50%;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  
.posts-list .post-preview .thumbnail img { 
  width: 100%; 
  display: block; 
  
}

.posts-list .metadata .publishedDate {
    color: rgb(20, 56, 96);
}
  

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */

